# Part One - Lists

In [101]:
# Majority of the time will be spent on lists
courses = ['History', 'Math', 'Physics', 'CompSci']

# length of our list
print(len(courses))

4

In [92]:
# print our list
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [93]:
# print the first value from our list
print(courses[0])

History

In [94]:
# print the last value from our list
print(courses[3])

CompSci

In [96]:
# also print the last value from the list
print(courses[-1])

CompSci

In [102]:
# Grab the first two values from the list:
# Starting at index 0, go to but DONT include, index 2
# Starting point -> stopping point
# First index is inclusive but the second index is not *
print(courses[0:2])

['History', 'Math']

In [99]:
# same result, it assumes we start at zero
print(courses[:2])

['History', 'Math']

In [100]:
# Start at index 2 and go to the end.
print(courses[2:])

['Physics', 'CompSci']

### Modifying Lists

In [105]:
# Adding items to our list

# adds art to the end of our list (APPEND)
courses.append('Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci', 'Art', 'Art']

In [106]:
# add art to the beginning of our list (INSERT)
# doesnt override, just inserts
courses.insert(0, 'Art')
print(courses)

['Art', 'Art', 'History', 'Math', 'Physics', 'CompSci', 'Art', 'Art']

In [107]:
# Add multiple values to our list (EXTEND)
courses_2 = ['Art', 'Education']
courses.extend(courses_2)
print(courses)

['Art', 'Art', 'History', 'Math', 'Physics', 'CompSci', 'Art', 'Art', 'Art', 'Education']

In [109]:
# Remove values from our list (REMOVE)
courses.remove('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Art', 'Art', 'Education']

In [110]:
courses.pop()

'Education'

In [111]:
# Removes the last value from our list
popped = courses.pop()

# print the value that we just popped
print(popped)

Art

### Sorting Lists

In [112]:
# reverses the order of the list
courses.reverse()
print(courses)

['Art', 'Art', 'CompSci', 'Physics', 'Math', 'History']

In [36]:
# sort our list in ascending order -> Alphabetical Order
courses.sort()
print(courses)

['CompSci', 'Math', 'Physics']

In [35]:
# sort our new list of numbers in ascending order
nums = [1,5,4,3]
nums.sort()
print(nums)

[1, 3, 4, 5]

In [38]:
# Sorted in descending Order
courses.sort(reverse=True)
print(courses)

nums.sort(reverse=True)
print(nums)

['Physics', 'Math', 'CompSci']
[5, 4, 3, 1]

In [43]:
# Sorted Function rather than Sort Method
# does not sort the list in place we need a new variavle to see this
# sorted function allows us to get the sorted list without altering the original version
sorted_courses = sorted(courses)
print(sorted_courses)

['CompSci', 'Math', 'Physics']

In [ ]:
# min max and sum of a list
print(min(nums))
print(max(nums))
print(sum(nums))

### Finding Values

In [52]:
# find index of a certain value -> index method
print(courses.index('CompSci'))

# what if we wanted to check if biology was in the list
print('Biology' in courses)
print('CompSci' in courses)

2
False
True

### Looping Values

In [55]:
# item here is just a variable, it is not a keyword
for item in courses:
    print(item)

Physics
Math
CompSci

In [60]:
# enumerate function

for index,item in enumerate(courses, start = 1 ):
    print(index,item)

1 Physics
2 Math
3 CompSci

In [64]:
course_str=' - '.join(courses)
print(course_str)

Physics - Math - CompSci

In [66]:
new_list = course_str.split(' - ')
print(new_list)

['Physics', 'Math', 'CompSci']

# Part Two - Tuples

In [67]:
# We cannot modify tuples. Lists are mutable (modifiable) Tuples are immutable (not modifiable)

# MUTABLE EXAMPLE
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [68]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art' # error 'tuple' object does not support item assignment

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

TypeError: 'tuple' object does not support item assignment

# Part Three - Sets

In [83]:
# Sets are values that are unordered and also have no duplicates

# gets rid of second math course and only leaves us with one
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}

print(cs_courses)

{'Physics', 'History', 'Math', 'CompSci'}

In [84]:
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}

print('Math' in cs_courses)

True

In [86]:
# INTERSECTION
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.union(art_courses))

{'Art', 'Design', 'Physics', 'History', 'CompSci', 'Math'}

### Empty

In [ ]:
# empty lists

empty_list = []
empty_list = list()


# empty tuples
empty_tuple = ()
empty_tuples = tuple()


# empty sets
# empty_set = {} -> this line is wrong -> creates an empty dictionary
empty_set = set()