In [8]:
# Arithmetic Operators
# Addition: 3 + 2
# Subtraction: 3 - 2
# Multiplication: 3 * 2
# Division: 3 / 2
# Floor Division: 3 // 2
# Exponent: 3 ** 2
# Modulus: 3 % 2

In [7]:
num = 3
print(type(num))

<class 'int'>

In [9]:

num = 3.14
print(type(num))

<class 'float'>

In [11]:
# Addition
print(3 + 2)

5

In [16]:
# Subtraction
print(3 - 2)

1

In [17]:
# Multiplication
print(3 * 2)

6

In [19]:
# Division
print(3 / 2)

1.5

In [23]:
# Floor Division -> Drops the decimal
print(3 // 2)

1

In [25]:
# To the Power Of
print(3 ** 2)

9

In [28]:
# Modulus -> gets us the remainder -> common use case is even or odd numbers
print(3 % 2)

1

In [32]:
# Order of Operations -> BIMDAS just like normal arithmetic
print(3 * 2 + 1)
print(3 * (2 + 1))

7
9

In [39]:
# Incrementing a variable

num = 1
num = 1+1
print(num) # num equals 2

# shorthand
num += 1
print(num) # 2 plus 1 = 3

num *= 10
print(num) # 3 x 10  = 30

2
3
30

In [42]:
# Absolute Value
print(abs(-3))

3

In [47]:
# Round Function
print(round(3.75))

# round to a specified decimal place
print(round(3.75, 1))

4
3.8

In [48]:
# Comparison Operators: RETURN BOOLEANS
# Equal:                 3 == 2
# Not Equal:             3 != 2
# Greater Than:          3 > 2 
# Less Than:             3 < 2
# Greater or Equal:      3 >= 2
# Less or Equal:         3 <= 2

In [50]:
num1 = 3
num2 = 2

print(num1 == num2) # you dont use single equals as that is an assignment. This is the comparison returns false

False

In [53]:
num1 = 3
num2 = 2

print(num1 != num2)

True

In [55]:
num1 = 3
num2 = 2

print(num1 > num2)

True

In [57]:
num1 = 3
num2 = 2

print(num1 < num2)

False

In [60]:
num1 = 3
num2 = 2

print(num1 >= num2)

True

In [62]:
num1 = 3
num2 = 2

print(num1 <= num2)

False

In [65]:
# Varibles that look like numbers

num1 = '100'
num2 = '200'

# add these values together -> this just concatenates them together
print(num1 + num2)

# we must cast these values from strings to integers
num1 = int(num1)
num2 = int(num2)

print(num1 + num2)

100200
300